body {
    font-family: 'Montserrat', sans-serif;
    color: #252F48;
}

/* ******* navBar *********** */
.navbar-expand-lg {
    background-color: #A9C3B8;
    display: flex;
}

.bi {
    color: #D16D79;
}

/* li {
    margin-left: 25px;
} */

/* ****** CARRUSEL ****** */
.margin-icon1{
    margin-top:1.5em;
}
.margin-icon2{
    margin-top:0.5em;
}
.margin-icon3{
    margin-top:0.5em;
}
/* background del carrusel */
.contbg {
    margin-top: 3em;
    background-color: #f0f0f0;
    border-radius: 30px;
}

.titulosCarrusel{
    font-weight: bold;
    padding: 15px;
}

/* estilo de los parrafos del carrusel*/
.pCarousel {
    font-size: 20px;
    line-height: 1.8;
    color: #252F48;
    text-align: justify;
}

/*cartas de productos*/

.d-flex.justify-content-center {
    justify-content: center;
}

.row.row-cols-md-3 {
margin-left: 0;
margin-right: 0;
}

.cardProds{
    background-color: #9bc1b1;
    margin: 60px;
    display: flex;
}
.cardProds-text{
    text-align: left;
    margin-right: 45px;
    padding: 10px;
}

.btnProds{
    width: 160px ;
    height: 35px ;
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
}

.btnProds:hover{
    background-color: #EDEDEF;
    border-color: #EDEDEF;
    color: #D16D79;
}

.card-title{
    text-align: center;
}


/* resolución movil */
@media (min-width:320px) and (max-width:576px){
    .pCarousel {
        font-size: 14px;
    }

    .carText {
        margin-bottom: 1em;
    }
    .margin-icon1{
        margin-top:0px;
    }
    .margin-icon2{
        margin-top:0px;
    }
    .margin-icon3{
        margin-top:0px;
    }
    .botonete{
        left: 84%;
    }
    .botonete2{
        left: 85%;
    }
}

/*resolución de tablet*/
@media (min-width: 577px) and (max-width:992px){
    .pCarousel {
        font-size: 16px;
    }
    .botonete{
    left: 71%;
    }
    
    .botonete2{
        left: 72%;
    }
}
/*resolución de laptop*/
@media (min-width: 992px) and (max-width:1199px){
    .pCarousel {
        font-size: 16px;
    }
    .botonete{
    left: 80%;
    }
    
    .botonete2{
        left: 81%;
    }
}

/* ****** Cards integrantes *******  */

.tituloIntegrantes{
    font-weight: bold;
    color: #252F48;
    padding: 15px;
}
.contC {
    background-color: rgba(188, 188, 188, 0.20);
    padding: 20px;
    border-radius: 30px;
    margin-top: 3em;

}

.card-title {
    font-weight: bold;
    color: #252F48
}

.card-subtitle {
    font-size: large;
    margin-top: 15px;
    color: #9bc1b1;
}

.card-text {
    text-align: justify;
    padding: 10px;
    color: #252F48
}


.col {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    padding: 20px;
    border-radius: 25px;
}

.hidden-image {
    display: none;
}

.image-container:hover .main-image {
    display: none;
}

.image-container:hover .hidden-image {
    display: block;
}

/* Íconos */
.fa-tiktok {
    font-size: x-large;
    color: #D16D79;
}

.fa-facebook {
    font-size: x-large;
    color: #D16D79;
}

.fa-instagram {
    font-size: x-large;
    color: #D16D79;
}

/* Footer style */
.footer-bg {
    background-color: #A9C3B8;
    display: flex;
}

.pModal{
    text-align: justify;
}

.btn-primary {
    background-color: #D16D79;
    border-color: #D16D79;

}

.btn-primary:hover {
    background-color: #EDEDEF;
    border-color: #EDEDEF;
    color: #D16D79;

}

/* Contacto */
.containerContacto{
    background-color: #EDEDEF;
    width: 380px;
    height: 576px;
    padding: 30px;
    margin: 40px;
    border-radius: 30px;
    text-align: center;
    
}
.containerOpinion{
    background-color: #EDEDEF;
    width: 610px;
    height: 576px;
    display: flex;
    padding: 30px;
    margin: 40px;
    border-radius: 30px;
    flex-direction: column;  
    text-align: center;
}


button{
    background-color: #D16D79;
    border-radius: 10px;
    border-color:#D16D79 ;
    font-family: 'Montserrat', sans-serif;
    color:#EDEDEF;
    padding: 10px 50px;
    margin: 10px;   
}
svg{
    display: flex;
}

.pCards{
    text-align: left;
    padding-right: 3em;
}

/* FORMULARIO ADMI */

.containerOpinionAdmi{
    background-color: #EDEDEF;
    align-items: center;
    width: auto;
    height: auto;
    padding: 30px;
    margin: 40px;
    border-radius: 30px;
    text-align: center;
}

.btnImg{
    background-color: #A9C3B8;
    border-color:#A9C3B8 ;
    color: black;
    border-radius: 10px;
    
}